<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>COGS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
        <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<body>
  <nav>
    <div class="nav-wrapper grey darken-4 white-text">
      <a href="/" class="brand-logo logo-push">COGS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{!-- <li><a href="newinventory">New Inventory</a></li> --}}
        <li><a href="newitem">New Item</a></li>
        <li><a href="mainsheet">Main Sheet</a></li>
        {{!-- <li><a href="newuserform">New User</a></li> --}}
        <li><a href="newuser">Welcome</a></li>
        </ul>
    </div>
  </nav>
      <div class="container">
      <div class="row center-content">
      <div class="col s12 l12">
      <div class="card grey darken-4 section">
        {{{ body }}}
      
      </div>
      </div>
      </div>
      </div>
<script src="/js/index.js"></script>
</body>
</html>
