<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>COGS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
        <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title">

<body>
  <nav>
    <div class="nav-wrapper grey darken-4 white-text">
      <a href="#" class="brand-logo logo-push">COGS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="newinventory">new inventory</a></li>
        <li><a href="newitem">new item</a></li>
        <li><a href="maininventory">main sheet</a></li>
        <li><a href="newuserform">New User</a></li>
        <li><a href="newuser">Welcome</a></li>
        </ul>
    
    </div>

  </nav>
      <div class="container">
        {{{ body }}}
      </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });
  $('.dropdown-trigger').dropdown();
</script>
</body>
</html>
