
      <div class="card-content white-text">
        <span class="card-title">
        <h2>COGS</h2>
        </span>
        <p class="section">The world is an uncertain place, but your inventory and sales tracking doesn’t have to be,
          regardless of your size. COGS is a business inventory management system that will meet you exactly where you
          are and deliver results!</p>
        <p class="section">Use our customizable inventory database to help your business thrive.</p>
      </div>
      
      <div class="row">
        <form class="white-text logo-push">
          <p>Email:</p>
          <input class="white-text" name="email" type="text" id="loginEmail">
          <p>Password:</p>
          <input class="white-text" name="password" type="text" id="loginPassword">
        </form>

        <button class="ui button lime accent-2 right button-right-margin" id="loginButton">
        <p class="black-font">Login</p>
        </button>

        <a href="newuserform"> <button class="ui button lime accent-2 right light-shadow button-right-margin">
        <p class="black-font">New Account</p>
        </button></a>
        </div>
