    <div class="ui main text container">
        <div class="center align">
    <div class="ui sizer vertical segment">
        <div class="ui huge header">COGS-Inventory-Management</div>
        <p></p>
      
         
          <form id="inventoryForm">
        
          <div class="ui fluid action input huge">
            <p1>
            <button class="ui button huge" type= "submit" id="loginButton">Login</button>
        </p1>
        <p2>
            <button class="ui button huge" type= "submit" id="userButton">New User</button>
            </p2>
          </div>
          </form>
        </div>
        </div>
        </div>