            <div class="card-content white-text">
                <span class="card-title">
                    <h2>COGS</h2> </span>
                <p class="section" id="card-text-top">Please enter in the details of the new item you'd like to add to your inventory.</p>
            </div>
            
            <div class="row"> 
            <form class="white-text logo-push" id="add-item-form">
                <div class="row" id="row-top-target">
                    <div class="col s6 l6">
                        <p>Name of Item:</p>
                        <input class="white-text" type="text" id="name-of-item">
                        <p>Category:</p>
                        <input class="white-text" type="text"  id="category">
                        <p>Distributor:</p>
                        <input class="white-text" type="text"  id="distributor">
                        <p>Unit Price:</p>
                        <input class="white-text" type="number"  id="unit-price">
                    </div>

                    <div class="col s6 l6">
                        <p>Unit Par:</p>
                        <input class="white-text" type="number"  id="unit-par">
                        <p>Items Per Unit:</p>
                        <input class="white-text" type="number"  id="items-per-unit">
                        <p>Item Count Type:</p>
                        <input class="white-text" type="text"  id="item-count-type">
                        <p>Item Count Par:</p>
                        <input class="white-text" type="number"  id="item-count-par">
                    </div>
                </div>
                    <button class="ui button lime accent-2 right l6 button-right-margin" id="add-item-button">
                        <p class="black-font">Add More Items</p>
                    </button>

                    <a href="mainsheet"></a>
                    <button class="ui button lime accent-2 right l6 button-right-margin" type="#" id="add-item-complete">
                      <p class="black-font">Complete</p>
                    </button>
            </form>
   

                </div>


<script src="/js/newItemForm.js"></script>