body{
    background:darkgrey;
}
.center-content {
    margin-top: 5vh; 
}
.logo-push{
    margin-left: 20px;
}
.button-right-margin{
    margin-right: 20px !important;
}
.center-content {
    margin-top: 10vh; 
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: whitesmoke;
}
.form-section{
    font-size: 24px !important;
    border-top: 5px solid yellow;
    margin-top: 10px;
}
.form-text{
    font-size: 24px !important;
    font-weight: bold;
    color: yellow !important;
}
.black-font{
    color: black;
}
/* .light-shadow{
    box-shadow: 1px 1px 4px whitesmoke !important;
} */